---
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Genshin Impact Tools</title>
</head>
<body>
<main>
  <header>
    <div>
      <h1>Genshin Impact Tools</h1>
    </div>
  </header>
</main>
</body>
</html>
